<ion-header>
  <ion-navbar>
    <ion-title>125MP3: Placement Policies</ion-title>
    <button ion-button block color="secondary"  (click) = "start()" large>
      S  T  A  R  T
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

    <div class = "row">
        <div class = "col">col 1</div>
        <div class = "col">col 2</div>
        <div class = "col">col 3</div>
        <div class = "col">col 4</div>
        <div class = "col">col 5</div>
     </div>

     <div class = "row">
        <div class = "col">col 6</div>
        <div class = "col">col 7</div>
        <div class = "col">col 8</div>
        <div class = "col">col 9</div>
        <div class = "col">col 10</div>
     </div>

  <!-- <ion-grid>

    <ion-row>
      <ion-col col-xl-2 *ngFor = "let block of memBlockArr">
        <ion-card>
          <ion-card-header>
            Memory Block {{ block.name }}
          <ion-label>Size: {{ block.size }} </ion-label>
          </ion-card-header>

          <ion-card-content>

            <ion-row *ngFor = "let burst of jobArr">
              <ion-label>Burst Time: {{ burst.time }}</ion-label>
            </ion-row>

            Job!!!
              

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid> -->

   
</ion-content>
