<ion-header>
  <ion-navbar>
    <ion-title>125MP3: Placement Policies</ion-title>
    <button ion-button block color = "secondary"  (click) = "one()" large>
      S  T  A  R  T
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row justify-content-center align-items-center>
      <ion-col col-xl-2 *ngFor = "let block of memBlockArr">
        
        <ion-card>
        
          <ion-card-header>
            Memory Block {{ block.name }}
          <ion-label>Size: {{ block.size }} </ion-label>
          </ion-card-header>

          <ion-card-content>

            <ion-row *ngFor = "let x of firstFit">
                <ion-col>
                    <div>{{ x.time }}</div>
                </ion-col>
            </ion-row>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

   
</ion-content>
